<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Board:</strong>
  <%= @post.board.title %>
</p>

<%= link_to 'Back', @post.board %> |
<%= link_to 'Top', boards_path %>
